/* Setting */
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&subset=latin-ext');
*:focus {outline:none;}
/* html {
    padding: 0;
    height: 100%;
} */
body {
    font-family: 'Oxygen', sans-serif;
    background-color: #FFFFFF;
    margin:0;
    /* padding:50px 0; */
    padding: 0;
    height: 100%;
}
.container {
    /* width: 100%;
    height: 100%; */
    position: fixed;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 800px;
    bottom:10%;
	right:5%;
    margin: 0 auto;
    border: 1px solid #ececec;
    background-color: #3699f60d;
    box-shadow: 0px 0px 100px -33px #0000003d;
    background-color: #fafafa;
    
}

#root {height: 100%; padding: 0;}
body .chatHeader {
    background-color: #fff;
    position: relative;
    padding: 11px;
    padding-left: 40px;
    margin-right: 60px;
    box-shadow: 0 6px 34px -6px #e0e0e0a6;
    border-radius: 2px;
}

body .chatHeader > .BackBtn {
    position: absolute;
    color: #0099F6;
    font-size: 28px;
    width: 40px;
    height: 56px;
    line-height: 53px;
    text-align: center;
    left: 0;
    top: 0;
}

body .chatHeader > .headerTitle {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #1373AE;
}

body .chatHeader > .MenuBtn {
    position: absolute;
    float: right;
    font-size: 17px;
    width: 50px;
    height: 56px;
    line-height: 53px;
    text-align: center;
    right: 0px;
    top: 0px;
}  

body .chatHeader > .MenuBtn > .line-wrapper {
    cursor:pointer;
    margin : auto;
    margin-top: 15px;
    width:30px;
    height:35px;
}

body .chatHeader > .MenuBtn > .line-wrapper > .line {
    background:#000000;
    margin-top:6px;
    margin-bottom:6px;
    width:30px;
    height:4px; 
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
}

body .chatHeader > .headerTitle > .NameIcon {
    /* width: 28px;
    height: 28px;
    line-height: 28px; */
    width: auto;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 40px; */
    /* border-radius: 50%; */
    /* border: 1px solid #3699f6; */
    text-align: center;
    flex: none;
}

body .chatHeader > .headerTitle > .Txt {
    flex: auto;
    margin-left: 10px;
}

body .chatHeader > .headerTitle > .Txt > div {
    font-size: 17px;
    margin: 2px 0;
}

body .chatSend {
    height: 48px;
    position: absolute;
    bottom:0;
    width: 100%;
}

body .chatSend > .errorTxt {
    position: absolute;
    top: -27px;
    left: 0;
    right: 0;
    background-color: #fb5c5c;
    font-size: 15px;
    padding: 7px;
    color: #fff;
    text-align: center;
}

body .chatSend > .sendText {
    border: 0;
    height: 48px;
    padding-right: 55px;
    padding-left: 20px;
    font-size: 15px;
    color: #6f6f6f;
    display: block;
    width: calc(100% - 75px);
}

body .chatSend > .sendText::-webkit-input-placeholder {
    color: rgba(54, 153, 246, 0.38);
}

body .chatSend > .sendText::-moz-placeholder {
    color: rgba(54, 153, 246, 0.38);
}

body .chatSend > .sendText:-ms-input-placeholder {
    color: rgba(54, 153, 246, 0.38);
}

body .chatSend > .sendText:-moz-placeholder {
    color: rgba(54, 153, 246, 0.38);
}

body .chatSend > #send-message {
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 2;
    height: 48px;
    line-height: 48px;
    border: 0;
    width: 55px;
    background-color: #fff;
    font-size: 20px;
    color: #3699f6;
    text-align: center;
}

body .chatContent {
    height: 680px;
    /* min-height: 500px; */
    padding: 20px 20px 0px 20px;
    /* max-height: 450px; */
    /* bottom: 48px; */
    overflow-y: auto;
}
body .chatContent::-webkit-scrollbar {
  width: 3px;
}

body .chatContent::-webkit-scrollbar-track {
  background: #fafafa; 
}
 
body .chatContent::-webkit-scrollbar-thumb {
  background: #3699f6; 
}
body .chatContent::-webkit-scrollbar-thumb:hover {
  background: #3699f6; 
}

body .chatContent .chat-column {
    display: flex;
    margin-bottom: 20px;
}

body .chatContent .chat-column > .item > .chat-icon {
    width: 30px;
    height: 30px;
    line-height: 25px;
    background-color: #0099F6;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    margin-right: 13px;
    margin-top: 5px;
}

body .chatContent .chat-column > .item > .chat-message {
    background-color: #3699f6;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    line-height: 20px;
}

body .chatContent .chat-column > .item > .message-date {
    font-size: 10px;
    color: #3699f6;
    font-weight: 600;
    margin-top: 5px;
}

body .chatContent .chat-column.me {
    flex-direction: row-reverse;
}

body .chatContent .chat-column.me > .item > .chat-icon {
    margin-right: 0;
    margin-left: 13px;
    background-color: #fff;
    color: #3699f6;
}

body .chatContent .chat-column.me > .item > .chat-message {
    background-color: #fff;
    color: #3699f6;
}